body {
  width: 960px;
  margin: auto;
}

/* HEADER */
header {
  border-style: solid;
  border-bottom;
  padding: 20px 0;
}

#topicon {
  display: inline-block;
  position: static;
  top: 0px;
  z-index: 10;
}

#delicious {
  font-size: 2em;
  font-family: cursive;
  vertical-align: top;
  z-index: 11;
}

#bestfoodblog {
  font-size: .25em;
  font-family: sans-serif;
  display: inline-block;
}

#toptext {
  display: inline-block;
  vertical-align: top;
}

#socialmedia {
  float: right;
  display: inline-block;
  vertical-align: top;
}

.socialmedia {
  display: inline-block;
}


#topicon {
  display: inline-block;
}

#socialmedia {
  float: right;
  display: inline-block;
  vertical-align: top;
}

.socialmedia {
  display: inline-block;
}

/* PAGE TITLE AND PRINT BUTTON */
.content h1 {
  font-size: 40px;
}

.content h2 {
  display: inline-block;
}

.print-button p,
.print-button img {
  display: inline-block;
  font-size: 8px; 
}

.subheading {
  display: flex;
  justify-content: space-between;
}

/* HERO IMAGE */

#hero {
  width: 100%;
}

/* PARAGRAPH CONTENT PARAGRAPH SPACING*/
.content > p {
  margin: 15px 0;
  text-indent: 1em;
}

/* INGREDIENT CHECKLIST SECTION */
section.ingredients {
  background-image: url("../img/list-bg.png");
  padding: 20px;
  font-family: 'Caveat', cursive;
  font-size: 35 px;
}

.ingredients ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ingredients li {
  width: 45%;
}

.ingredients input:checked + label {
  text-decoration: line-through;
}

.ingredients li input {
  height: 10px;
  width: 10px;
}

/* ROMAN'S CSS */

footer { 
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

#bigFlex {
  /* font-size: 20px; */
  display: flex;
  justify-content: space-between;
  /* padding:1% */
}

#footer-text {
  padding: 20px;
}

#small-logo {
  margin-top: -30px;
}

footer img {
  height: 50px;
}