* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: auto;
}

p {
  color: grey;
  line-height: 1.25;
}

/* HEADER */
header {
  border-style: solid;
  padding: 20px 0 20px 0;
  border-bottom: 15px solid lightgrey;
  /* disable due to optical illusion that makes it appear slanted. */
  /* border-image: repeating-linear-gradient(45deg, white, white 1%, grey 1%, grey 2%) 10; */
  margin-bottom: 20px;
}

#topicon {
  display: inline-block;
  position: static;
}

#delicious {
  font-size: 2em;
  font-family: cursive;
  vertical-align: top;
}

#bestfoodblog {
  font-size: .25em;
  font-family: sans-serif;
  display: inline-block;
}

#toptext {
  display: inline-block;
  vertical-align: top;
}

#socialmedia {
  float: right;
  vertical-align: top;
}

.socialmedia {
  display: inline-block;
}


#topicon {
  display: inline-block;
}

#socialmedia {
  display: inline-block;
  vertical-align: top;
}

.socialmedia {
  display: inline-block;
}

/* PAGE TITLE AND PRINT BUTTON */
.content h1 {
  font-size: 40px;
}

.content h2 {
  display: inline-block;
}

#print-button p,
#print-button img {
  display: inline-block;
  font-size: 8px; 
}

.subheading {
  display: flex;
  justify-content: space-between;
}

/* HERO IMAGE */

#hero {
  width: 100%;
  margin-top: 30px;
}

/* PARAGRAPH CONTENT PARAGRAPH SPACING*/
.content > p {
  margin: 15px 0;
  text-indent: 1em;
}

/* INGREDIENT CHECKLIST SECTION */
section.ingredients {
  background-image: url("../img/list-bg.png");
  padding: 20px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: grey;
}

.ingredients ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ingredients li {
  width: 45%;
}

.ingredients input:checked + label {
  text-decoration: line-through;
}

.ingredients li input {
  height: 10px;
  width: 10px;
}

/* BIO SECTION */
section.bio {
  display: flex;
  justify-content:space-between;
  margin: 30px 0;
  padding-top: 20px;
  border-top: 15px solid lightgrey;
}

#bio-text {
  width: 60%;
  padding: 10px;
}

.bio img {
  height: 100px;
}

#bio-text h2 {
  font-size: 1.25em;
  padding: 10px 0;
  font-weight: 600;
}

#bio-text p {
  padding: 10px;
}

#share-button {
  height: 60px;
  width: 200px;
  margin: auto;
  text-transform: uppercase;
  background-color: rgb(198, 117, 36);
  color: white;
}

/* FOOTER */
footer {
  border-top: 2px solid lightgrey;
  text-align: center;
  color: lightgrey;
  font-size: 10px;
  line-height: 1.5;
}

footer img {
  margin-top: -50px;
}

footer p:first-of-type {
  margin-top: 20px;
}